  <header>
    <h1>The Tech Blog</h1>
  </header>
  <main>
  {{> postlist postData}}
  {{#each commentsData as |commentData|}}
  {{> comment-details }}
  {{/each}}
<section class="card">
  <form id ="create-new-comment" class="form new-comment">
    <div class="form-group">
      <label for="new-comment">Comment</label>
      <input class="form-input" type="text" id="description" />
      <input class="" type="hidden" id="post_id" value ="{{postData.id}}"/>
    </div>
    <div class="form-group">
      <button class="btn"  type="submit">Submit</button>
    </div>
  </form>
</section>
</main>
<script src="/js/comment.js"></script>