<header>
  <h1>The Tech Blog</h1>
</header>
<main>
  {{#each userPosts as |userPost|}}
  {{> postlist}}
  {{/each}}
  <div>
    <button id="new-post" href="/newpost">+ New Post</button>
  </div>
</main>
<script src="./js/dashboard.js"></script>